*{
    box-sizing: border-box;
}
body{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b3dced+0,29b8e5+50,bce0ee+100;Blue+Pipe */
background: rgb(179,220,237); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  rgba(179,220,237,1) 0%,rgba(41,184,229,1) 50%,rgba(188,224,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
body, html{
    height: 100%;
}
h1{
    text-align: center;
}
ul{

    text-align: center;
    list-style: none;
    padding-left: 0;
    margin-left: 8%;
}
.dis{
    background-color: rgb(255, 0, 0);
    margin-top: 20px;
    width: 84%;
    height: 60px;
    border-radius: 15px;
    text-align:right;
    vertical-align:middle;
    padding: 10px 10px 0 10px;
    color: white;
    font-size: 40px;
    overflow: hidden;
    box-shadow: inset 0 -10px 5px rgba(0, 0, 0, 0.25), inset 0 10px 5px rgba(255, 255, 255, 0.4); 
}

ul li{
    background-color:  rgb(40, 17, 167);;
    color: white;
    margin: 5px;
    height: 75px;
    width: 75px;
    border-radius: 5px;
    float: left;
    box-shadow: inset 0 -5px rgba(179,220,237,0.3);
    position: relative;
    font-size: 27px;
    padding: 25px;
}
ul li:nth-child(17){
    margin-top: -79px;
    width: 67%;
}
ul li:nth-child(16)
{
    height: 47%;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calc{
    width: 400px;
    height: 550px;
    background-color: rgb(30, 12, 136);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: inset 0 -10px rgba(255, 255, 255, 0.5);
    margin: 0 auto;
}
ul li:active{
    box-shadow: inset 0 0;
    top: 4px;
}